nav 
    display: flex
    flex-direction: column
    background: $dark;
    height: 100vh
    padding: .5em 1em

    .enterprise-name
        font-size: 25px
        padding: 0 0 1em 0

    a
        color: $white;
        
        i
            color: $white;
