.search{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 0 1em 0;

    .searchBar {
        padding: 1em;
    }
}


.newAgent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    align-items: center;
    
}