<!-- Add new agent -->
<div class="new">
    <h4>Add new agent</h4>
    <for class="box">
        <div>
            <label for="name">Firstname</label>
            <input type="text" name='firstname' placeholder="Firstname">
        </div>
        <div>
            <label for="lastname">Lastname</label>
            <input type="text" name='lastname' placeholder="Lastname">
        </div>
        <input type="submit" value="Add agent">
    </for>
</div>

<!-- Search an agent -->
<div class="search">
    <input 
        type="text" 
        placeholder="Search agent"
        class="w-3/4 mx-auto searchBar text-center"
        id='searchBar'
    >
</div>

<table id="agentsList" class="mx-auto w-full overflow-scroll h-2/4">
    <tr class="bg-white">
        <th class="p-2">
            Id
        </th>
        <th class="p-2">
            First name
        </th>
        <th class="p-2">
            Last name
        </th>
    </tr>
</table>