<div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-x-8 sm:gap-y-0 gap-y-4">

    <!-- Card -->
    <div class="bg-white rounded-lg p-3 flex space-x-5">
        <div class="card-people w-2/4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
        </div>
        <div class="text flex-col">
            <span class='text-2xl' id='agents'></span>
            <span class="text-center">Agents</span>
        </div>
    </div>

    <!-- Card -->
    <div class="bg-white rounded-lg p-3 flex space-x-5 animate__animated">
        <div class="card-people w-2/4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-14" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
            </svg>
        </div>
        <div class="text flex-col w-2/4 ">
            <span class='text-2xl' id='products'></span>
            <span class="text-center">Products</span>
        </div>
    </div>

    <!-- Card -->
    <div class="bg-white rounded-lg p-3 flex space-x-5">
        <div class="card-people w-2/4">
            <svg class="h-14" xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
        <div class="text flex-col">
            <span class='text-2xl text-center' id='sales'></span>
            <span class="text-center">Total sales</span>
        </div>
    </div>
</div>

<!-- Table of info -->

<h6 class="w-fill text-center text-4xl py-5" >Recent Sales</h6>

<table id="recentSales" class="mx-auto w-full overflow-scroll h-32">
    <tr class="bg-white">
        <th class="p-4">
            Id
        </th>
        <th class="p-4">
            Agent ID
        </th>
        <th class="p-4">
            Product ID
        </th>
        <th class="p-4">
            Serial Code
        </th>
    </tr>
</table>