<div class="cards">
    <div class="card">
        <i class="fas fa-people-carry"></i>
        <div class="text">
            <span id='agents'></span>
            <span>Agents</span>
        </div>
    </div>
    <div class="card">
        <i class="fas fa-boxes"></i>
        <div class="text">
            <span id='products'></span>
            <span>Products</span>
        </div>
    </div>
    <div class="card">
        <i class="fas fa-shopping-basket"></i>
        <div class="text">
            <span id='sales'></span>
            <span>Sales</span>
        </div>
    </div>
    <div class="card">
        <i class="fas fa-cash-register"></i>
        <div class="text">
            <span id='money'></span>
            <span>Money</span>
        </div>
    </div>
</div>