<div class="cards">
    <div class="card">
        <i class="fas fa-people-carry"></i>
        <div class="text">
            <span class='number' id='agents'></span>
            <span>Agents</span>
        </div>
    </div>
    <div class="card">
        <i class="fas fa-boxes"></i>
        <div class="text">
            <span class='number' id='products'></span>
            <span>Products</span>
        </div>
    </div>
    <div class="card">
        <i class="fas fa-shopping-basket"></i>
        <div class="text">
            <span class='number' id='sales'></span>
            <span>Sales</span>
        </div>
    </div>
</div>


<table id="recentSales" class="recentSales">
    <tr class="title">
        <th>
            Id
        </th>
        <th>
            Agent ID
        </th>
        <th>
            Product ID
        </th>
        <th>
            Serial Code
        </th>
    </tr>
</table>